/*size of the screen for the media queries */
/*width of columns */
/*These are the options for different widths basing */
/*These are the options for different widths basing */
/*These are the options for different widths basing */
/*These are the options for different widths basing */
/*side elements */
#menu, .articlesMenu {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

/*burger */
.hamburger-slim {
  z-index: 2;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.7), 0 0 20px 0 rgba(0, 0, 0, 0.7);
  margin-left: 4%;
  margin-top: 4%;
  position: fixed;
  height: 30px;
  width: 42px;
  cursor: pointer; }

.hamburger-slim:before, .hamburger-slim:after {
  background: #fff;
  backface-visibility: hidden;
  content: "";
  height: 2px;
  left: 0;
  transition: 0.25s;
  width: 40px; }

.hamburger-slim:before {
  box-shadow: #fff 0 10px 0 0;
  position: absolute;
  top: 0; }

.hamburger-slim:after {
  position: absolute;
  top: calc(100% - 8px); }

.hamburger-slim:hover:before {
  box-shadow: transparent 0 0 0 0;
  top: 50%;
  transform: rotate(225deg); }

.hamburger-slim:hover:after {
  top: 50%;
  transform: rotate(315deg); }

/*until here */
/*menu */
@keyframes menuDisabling {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes menuContentEnabling {
  0% {
    opacity: 0;
    transform: translateX(-30px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes separationLineEnabledAnimation {
  0% {
    opacity: 0;
    transform: scaleX(0); }
  100% {
    opacity: 1;
    transform: scaleX(1); } }
#menu {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  opacity: 0;
  position: fixed;
  height: 100vh; }
  #menu tbody {
    height: 100%; }
    #menu tbody tr {
      opacity: 0;
      transform: translateX(-30px);
      text-align: center;
      height: 8vh; }
      #menu tbody tr th {
        padding-top: 20px;
        padding-bottom: 20px; }
      #menu tbody tr td:hover {
        background-color: rgba(255, 255, 255, 0.09); }
      #menu tbody tr h2 {
        margin: 0; }
      #menu tbody tr a {
        color: white;
        text-align: center; }
        #menu tbody tr a p {
          font-size: 20px;
          line-height: 8vh;
          margin-top: 0;
          margin-bottom: 0;
          margin-left: 50px;
          margin-right: 50px; }
  #menu h2 {
    text-align: center;
    line-height: 100%;
    color: white; }
    @media (max-width: 40em) {
      #menu h2 {
        font-size: 2em; } }
    @media (min-width: 40em) {
      #menu h2 {
        font-size: 3em; } }
    @media (min-width: 50em) {
      #menu h2 {
        font-size: 4em; } }
    @media (min-width: 75em) {
      #menu h2 {
        font-size: 5em; } }

#menu-alignment-box {
  width: 100%;
  position: relative;
  margin: auto;
  width: 100%;
  top: 50%;
  transform: translateY(-50%); }

#menu-alignment-box2 {
  width: 100%;
  position: absolute;
  margin: auto;
  width: 100%;
  top: 50%;
  transform: translateY(-50%); }

#vertical {
  margin: auto;
  padding: 0; }
  @media (max-width: 40em) and (orientation: landscape) {
    #vertical {
      display: none; } }

.enabled {
  opacity: 1 !important;
  z-index: 3000;
  position: fixed; }

.disabled {
  animation: menuDisabling 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.2s forwards; }

.menuContentEnabled {
  animation: menuContentEnabling 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.2s forwards; }

.displayNone {
  display: none; }

.separationLineEnabled {
  animation: separationLineEnabledAnimation 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.4s forwards; }

/*check this.... */
.articlesMenu {
  position: fixed;
  bottom: 0;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1); }

.articlesMenu {
  float: left;
  width: 50vw;
  overflow: hidden;
  height: 100%; }

#articlesImage {
  overflow: hidden;
  width: 50vw; }

#articlesImage img {
  width: 100%; }

.textMenu {
  position: absolute;
  width: 80%;
  margin-left: 2vw;
  margin-top: 2vh; }

#articlesMenuLeft {
  bottom: 0;
  position: fixed;
  width: 50vw;
  height: auto; }

.articlesInteraction {
  transform: translate(0, 100px); }

#articlesMenuRight {
  bottom: 0;
  position: fixed;
  right: 0;
  height: auto; }

/*until here */
/*new burger/ */
#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 30px;
  left: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 3001; }

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #ffd600;
  border-radius: 15px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }

#nav-icon3 span:nth-child(1) {
  top: 0px; }

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 9px; }

#nav-icon3 span:nth-child(4) {
  top: 18px; }

#nav-icon3.open span:nth-child(1) {
  top: 9px;
  width: 0%;
  left: 50%; }

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

.separationLineContainer {
  height: 2px !important; }
  .separationLineContainer:hover {
    background: none; }

.separationLine {
  height: 2px !important;
  background-color: white;
  transform: scaleX(0);
  opacity: 0; }

/*# sourceMappingURL=menu.css.map */
