@import "helpers/variables"
@import "helpers/mixin"
@import "helpers/placeholders"
@import "helpers/placeholders-queries"
@import "helpers/columns"
@import "toast-grid"
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i')


*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-bo
  box-sizing: border-box



html
  font-size: $main-font-size

body
  margin: 0

p
  color: white
  font-family: merriweather, serif
  font-size: $main-font-size
  line-height: 150%




#container
  max-width: 1920px
  margin: auto


.text
  @extend %text
  @extend %mobile-9-9
  @extend %tablet-v-7-9
  @extend %tablet-h-5-9
  @extend %desktop-5-9

/*columns background*/
.grid
  position: fixed
  z-index: -1
  width: 100%
  top: 0
  left: -1px
  right: 18px
  bottom: 0px
  margin: 0
  PADDING: 0
  background-color: #3d3d3d
.grid__col

  .box
    background-color: rgb(31, 31, 31)
    height: 100vh
    &:hover
      background-color: black

.single-img
  @extend %mobile-9-9
  @extend %tablet-v-7-9
  @extend %tablet-h-5-9
  @extend %desktop-5-9
  margin: auto
  img
    display: block
