* {
    box-sizing: border-box;
}

body{
  margin:0;
  background-color: #1a1a1a;
  color:white;
  position: relative;
}
html, body{
  height:100%;
}
/*columns*/

.col-1 {width: 12.5%;}
.col-2 {width: 25%;}
.col-3 {width: 37.5%;}
.col-4 {width: 50%;}
.col-5 {width: 62.5%;}
.col-6 {width: 75%;}
.col-7 {width: 87.5%;}
.col-8 {width: 100%;}


[class*="col-"] {
    float: left;
    padding: 15px;
}

.content::after {
    content: "";
    clear: both;
    display: table;
}
#background-columns{
  position:absolute;
  width:100%;
}
#background-columns, #background-columns [class*="col-"]{
  height:100%;
  margin:0;
  z-index:-100;
  border: 1px solid #333  ;
}

/*text*/
.centered-text{
  margin:auto;
}
